trunk/truconet/truconetWeb/Web References/truconetFachada/truconetFachada.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://truconet/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://truconet/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://truconet/">
      <s:element name="holaPablo">
        <s:complexType />
      </s:element>
      <s:element name="holaPabloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="holaPabloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="holaPabloSoapIn">
    <wsdl:part name="parameters" element="tns:holaPablo" />
  </wsdl:message>
  <wsdl:message name="holaPabloSoapOut">
    <wsdl:part name="parameters" element="tns:holaPabloResponse" />
  </wsdl:message>
  <wsdl:portType name="truconetFachadaSoap">
    <wsdl:operation name="holaPablo">
      <wsdl:input message="tns:holaPabloSoapIn" />
      <wsdl:output message="tns:holaPabloSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="truconetFachadaSoap" type="tns:truconetFachadaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="holaPablo">
      <soap:operation soapAction="http://truconet/holaPablo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="truconetFachadaSoap12" type="tns:truconetFachadaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="holaPablo">
      <soap12:operation soapAction="http://truconet/holaPablo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="truconetFachada">
    <wsdl:port name="truconetFachadaSoap" binding="tns:truconetFachadaSoap">
      <soap:address location="http://localhost:51052/truconetFachada.asmx" />
    </wsdl:port>
    <wsdl:port name="truconetFachadaSoap12" binding="tns:truconetFachadaSoap12">
      <soap12:address location="http://localhost:51052/truconetFachada.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>