trunk/truconet/TrucoNetBackend/Web References/truconetDomain/truconetDomain.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://truconet/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://truconet/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://truconet/">
      <s:element name="crearPartido">
        <s:complexType />
      </s:element>
      <s:element name="crearPartidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crearPartidoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaUsuario">
        <s:complexType />
      </s:element>
      <s:element name="consultaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaUsuarioResult" type="tns:ArrayOfUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUsuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="consultaPartidoEnCurso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="enCurso" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaPartidoEnCursoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaPartidoEnCursoResult" type="tns:ArrayOfPartido" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPartido">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Partido" nillable="true" type="tns:Partido" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Partido">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Ganadores" type="tns:ArrayOfJugador" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaFin" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaInicio" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Participantes" type="tns:ArrayOfJugador" />
          <s:element minOccurs="1" maxOccurs="1" name="Identificador" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Muestra" type="tns:Carta" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MasoJuego" type="tns:ArrayOfCarta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfJugador">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Jugador" nillable="true" type="tns:Jugador" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Jugador">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Mano" type="tns:cartasMano" />
          <s:element minOccurs="1" maxOccurs="1" name="EsMano" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="cartasMano">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Puntos" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Jugada" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Cartas" type="tns:ArrayOfCarta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCarta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Carta" nillable="true" type="tns:Carta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Carta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Cod" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Puntaje" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Palo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Categoria" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Jugador" type="tns:Jugador" />
        </s:sequence>
      </s:complexType>
      <s:element name="consultaPartidoRangos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fechaIni" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaFin" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaPartidoRangosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaPartidoRangosResult" type="tns:ArrayOfPartido" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaPartidoJugadores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaJugadores" type="tns:ArrayOfJugador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaPartidoJugadoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaPartidoJugadoresResult" type="tns:ArrayOfPartido" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaRanking">
        <s:complexType />
      </s:element>
      <s:element name="consultaRankingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaRankingResult" type="tns:ArrayOfRanking" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRanking">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Ranking" nillable="true" type="tns:Ranking" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ranking">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Puntaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Jug" type="tns:Jugador" />
          <s:element minOccurs="1" maxOccurs="1" name="Posicion" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="consultaDenuncia">
        <s:complexType />
      </s:element>
      <s:element name="consultaDenunciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaDenunciaResult" type="tns:ArrayOfDenuncia" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDenuncia">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Denuncia" nillable="true" type="tns:Denuncia" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Denuncia">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DesDenuncia" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CodDenuncia" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="crearPartidoSoapIn">
    <wsdl:part name="parameters" element="tns:crearPartido" />
  </wsdl:message>
  <wsdl:message name="crearPartidoSoapOut">
    <wsdl:part name="parameters" element="tns:crearPartidoResponse" />
  </wsdl:message>
  <wsdl:message name="consultaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:consultaUsuario" />
  </wsdl:message>
  <wsdl:message name="consultaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:consultaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="consultaPartidoEnCursoSoapIn">
    <wsdl:part name="parameters" element="tns:consultaPartidoEnCurso" />
  </wsdl:message>
  <wsdl:message name="consultaPartidoEnCursoSoapOut">
    <wsdl:part name="parameters" element="tns:consultaPartidoEnCursoResponse" />
  </wsdl:message>
  <wsdl:message name="consultaPartidoRangosSoapIn">
    <wsdl:part name="parameters" element="tns:consultaPartidoRangos" />
  </wsdl:message>
  <wsdl:message name="consultaPartidoRangosSoapOut">
    <wsdl:part name="parameters" element="tns:consultaPartidoRangosResponse" />
  </wsdl:message>
  <wsdl:message name="consultaPartidoJugadoresSoapIn">
    <wsdl:part name="parameters" element="tns:consultaPartidoJugadores" />
  </wsdl:message>
  <wsdl:message name="consultaPartidoJugadoresSoapOut">
    <wsdl:part name="parameters" element="tns:consultaPartidoJugadoresResponse" />
  </wsdl:message>
  <wsdl:message name="consultaRankingSoapIn">
    <wsdl:part name="parameters" element="tns:consultaRanking" />
  </wsdl:message>
  <wsdl:message name="consultaRankingSoapOut">
    <wsdl:part name="parameters" element="tns:consultaRankingResponse" />
  </wsdl:message>
  <wsdl:message name="consultaDenunciaSoapIn">
    <wsdl:part name="parameters" element="tns:consultaDenuncia" />
  </wsdl:message>
  <wsdl:message name="consultaDenunciaSoapOut">
    <wsdl:part name="parameters" element="tns:consultaDenunciaResponse" />
  </wsdl:message>
  <wsdl:portType name="truconetDomainSoap">
    <wsdl:operation name="crearPartido">
      <wsdl:input message="tns:crearPartidoSoapIn" />
      <wsdl:output message="tns:crearPartidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaUsuario">
      <wsdl:input message="tns:consultaUsuarioSoapIn" />
      <wsdl:output message="tns:consultaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaPartidoEnCurso">
      <wsdl:input message="tns:consultaPartidoEnCursoSoapIn" />
      <wsdl:output message="tns:consultaPartidoEnCursoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaPartidoRangos">
      <wsdl:input message="tns:consultaPartidoRangosSoapIn" />
      <wsdl:output message="tns:consultaPartidoRangosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaPartidoJugadores">
      <wsdl:input message="tns:consultaPartidoJugadoresSoapIn" />
      <wsdl:output message="tns:consultaPartidoJugadoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaRanking">
      <wsdl:input message="tns:consultaRankingSoapIn" />
      <wsdl:output message="tns:consultaRankingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="consultaDenuncia">
      <wsdl:input message="tns:consultaDenunciaSoapIn" />
      <wsdl:output message="tns:consultaDenunciaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="truconetDomainSoap" type="tns:truconetDomainSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearPartido">
      <soap:operation soapAction="http://truconet/crearPartido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaUsuario">
      <soap:operation soapAction="http://truconet/consultaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaPartidoEnCurso">
      <soap:operation soapAction="http://truconet/consultaPartidoEnCurso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaPartidoRangos">
      <soap:operation soapAction="http://truconet/consultaPartidoRangos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaPartidoJugadores">
      <soap:operation soapAction="http://truconet/consultaPartidoJugadores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaRanking">
      <soap:operation soapAction="http://truconet/consultaRanking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaDenuncia">
      <soap:operation soapAction="http://truconet/consultaDenuncia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="truconetDomainSoap12" type="tns:truconetDomainSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearPartido">
      <soap12:operation soapAction="http://truconet/crearPartido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaUsuario">
      <soap12:operation soapAction="http://truconet/consultaUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaPartidoEnCurso">
      <soap12:operation soapAction="http://truconet/consultaPartidoEnCurso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaPartidoRangos">
      <soap12:operation soapAction="http://truconet/consultaPartidoRangos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaPartidoJugadores">
      <soap12:operation soapAction="http://truconet/consultaPartidoJugadores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaRanking">
      <soap12:operation soapAction="http://truconet/consultaRanking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaDenuncia">
      <soap12:operation soapAction="http://truconet/consultaDenuncia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="truconetDomain">
    <wsdl:port name="truconetDomainSoap" binding="tns:truconetDomainSoap">
      <soap:address location="http://localhost:50435/truconetDomain.asmx" />
    </wsdl:port>
    <wsdl:port name="truconetDomainSoap12" binding="tns:truconetDomainSoap12">
      <soap12:address location="http://localhost:50435/truconetDomain.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>