trunk/truconet/TrucoNetBackend/Web References/truconetDomain/truconetDomain.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://truconet/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://truconet/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://truconet/">
      <s:element name="crearPartido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idJugadores" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="crearPartidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="crearPartidoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getJugadores">
        <s:complexType />
      </s:element>
      <s:element name="getJugadoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getJugadoresResult" type="tns:ArrayOfJugador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfJugador">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Jugador" nillable="true" type="tns:Jugador" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Jugador">
        <s:complexContent mixed="false">
          <s:extension base="tns:Usuario">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Mano" type="tns:cartasMano" />
              <s:element minOccurs="1" maxOccurs="1" name="EsMano" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="cartasMano">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Puntos" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Jugada" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Cartas" type="tns:ArrayOfCarta" />
          <s:element minOccurs="1" maxOccurs="1" name="IdPartido" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCarta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Carta" nillable="true" type="tns:Carta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Carta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Cod" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Puntaje" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Palo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Categoria" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Jugador" type="tns:Jugador" />
        </s:sequence>
      </s:complexType>
      <s:element name="getJugadorPartido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idPartido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getJugadorPartidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getJugadorPartidoResult" type="tns:ArrayOfJugador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPartido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idPartido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPartidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPartidoResult" type="tns:Partido" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Partido">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Ganadores" type="tns:ArrayOfJugador" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaFin" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaInicio" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Participantes" type="tns:ArrayOfJugador" />
          <s:element minOccurs="1" maxOccurs="1" name="Identificador" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Muestra" type="tns:Carta" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getPartidosPendientes">
        <s:complexType />
      </s:element>
      <s:element name="getPartidosPendientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPartidosPendientesResult" type="tns:ArrayOfPartido" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPartido">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Partido" nillable="true" type="tns:Partido" />
        </s:sequence>
      </s:complexType>
      <s:element name="borrarParticipante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idJugador" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idPartido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="borrarParticipanteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="borrarParticipanteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="altaCredencial">
        <s:complexType />
      </s:element>
      <s:element name="altaCredencialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="altaCredencialResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="crearPartidoSoapIn">
    <wsdl:part name="parameters" element="tns:crearPartido" />
  </wsdl:message>
  <wsdl:message name="crearPartidoSoapOut">
    <wsdl:part name="parameters" element="tns:crearPartidoResponse" />
  </wsdl:message>
  <wsdl:message name="getJugadoresSoapIn">
    <wsdl:part name="parameters" element="tns:getJugadores" />
  </wsdl:message>
  <wsdl:message name="getJugadoresSoapOut">
    <wsdl:part name="parameters" element="tns:getJugadoresResponse" />
  </wsdl:message>
  <wsdl:message name="getJugadorPartidoSoapIn">
    <wsdl:part name="parameters" element="tns:getJugadorPartido" />
  </wsdl:message>
  <wsdl:message name="getJugadorPartidoSoapOut">
    <wsdl:part name="parameters" element="tns:getJugadorPartidoResponse" />
  </wsdl:message>
  <wsdl:message name="getPartidoSoapIn">
    <wsdl:part name="parameters" element="tns:getPartido" />
  </wsdl:message>
  <wsdl:message name="getPartidoSoapOut">
    <wsdl:part name="parameters" element="tns:getPartidoResponse" />
  </wsdl:message>
  <wsdl:message name="getPartidosPendientesSoapIn">
    <wsdl:part name="parameters" element="tns:getPartidosPendientes" />
  </wsdl:message>
  <wsdl:message name="getPartidosPendientesSoapOut">
    <wsdl:part name="parameters" element="tns:getPartidosPendientesResponse" />
  </wsdl:message>
  <wsdl:message name="borrarParticipanteSoapIn">
    <wsdl:part name="parameters" element="tns:borrarParticipante" />
  </wsdl:message>
  <wsdl:message name="borrarParticipanteSoapOut">
    <wsdl:part name="parameters" element="tns:borrarParticipanteResponse" />
  </wsdl:message>
  <wsdl:message name="altaCredencialSoapIn">
    <wsdl:part name="parameters" element="tns:altaCredencial" />
  </wsdl:message>
  <wsdl:message name="altaCredencialSoapOut">
    <wsdl:part name="parameters" element="tns:altaCredencialResponse" />
  </wsdl:message>
  <wsdl:portType name="truconetDomainSoap">
    <wsdl:operation name="crearPartido">
      <wsdl:input message="tns:crearPartidoSoapIn" />
      <wsdl:output message="tns:crearPartidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getJugadores">
      <wsdl:input message="tns:getJugadoresSoapIn" />
      <wsdl:output message="tns:getJugadoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getJugadorPartido">
      <wsdl:input message="tns:getJugadorPartidoSoapIn" />
      <wsdl:output message="tns:getJugadorPartidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPartido">
      <wsdl:input message="tns:getPartidoSoapIn" />
      <wsdl:output message="tns:getPartidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPartidosPendientes">
      <wsdl:input message="tns:getPartidosPendientesSoapIn" />
      <wsdl:output message="tns:getPartidosPendientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="borrarParticipante">
      <wsdl:input message="tns:borrarParticipanteSoapIn" />
      <wsdl:output message="tns:borrarParticipanteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="altaCredencial">
      <wsdl:input message="tns:altaCredencialSoapIn" />
      <wsdl:output message="tns:altaCredencialSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="truconetDomainSoap" type="tns:truconetDomainSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearPartido">
      <soap:operation soapAction="http://truconet/crearPartido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getJugadores">
      <soap:operation soapAction="http://truconet/getJugadores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getJugadorPartido">
      <soap:operation soapAction="http://truconet/getJugadorPartido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPartido">
      <soap:operation soapAction="http://truconet/getPartido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPartidosPendientes">
      <soap:operation soapAction="http://truconet/getPartidosPendientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="borrarParticipante">
      <soap:operation soapAction="http://truconet/borrarParticipante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="altaCredencial">
      <soap:operation soapAction="http://truconet/altaCredencial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="truconetDomainSoap12" type="tns:truconetDomainSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearPartido">
      <soap12:operation soapAction="http://truconet/crearPartido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getJugadores">
      <soap12:operation soapAction="http://truconet/getJugadores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getJugadorPartido">
      <soap12:operation soapAction="http://truconet/getJugadorPartido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPartido">
      <soap12:operation soapAction="http://truconet/getPartido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPartidosPendientes">
      <soap12:operation soapAction="http://truconet/getPartidosPendientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="borrarParticipante">
      <soap12:operation soapAction="http://truconet/borrarParticipante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="altaCredencial">
      <soap12:operation soapAction="http://truconet/altaCredencial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="truconetDomain">
    <wsdl:port name="truconetDomainSoap" binding="tns:truconetDomainSoap">
      <soap:address location="http://localhost:50436/truconetDomain.asmx" />
    </wsdl:port>
    <wsdl:port name="truconetDomainSoap12" binding="tns:truconetDomainSoap12">
      <soap12:address location="http://localhost:50436/truconetDomain.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>