trunk/truconet/truconetDesktopWeb/Web References/truconetDomain/truconetDomain.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://truconet/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://truconet/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://truconet/">
      <s:element name="crearPartido">
        <s:complexType />
      </s:element>
      <s:element name="crearPartidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="crearPartidoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="crearPartidoSoapIn">
    <wsdl:part name="parameters" element="tns:crearPartido" />
  </wsdl:message>
  <wsdl:message name="crearPartidoSoapOut">
    <wsdl:part name="parameters" element="tns:crearPartidoResponse" />
  </wsdl:message>
  <wsdl:portType name="truconetDomainSoap">
    <wsdl:operation name="crearPartido">
      <wsdl:input message="tns:crearPartidoSoapIn" />
      <wsdl:output message="tns:crearPartidoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="truconetDomainSoap" type="tns:truconetDomainSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearPartido">
      <soap:operation soapAction="http://truconet/crearPartido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="truconetDomainSoap12" type="tns:truconetDomainSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="crearPartido">
      <soap12:operation soapAction="http://truconet/crearPartido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="truconetDomain">
    <wsdl:port name="truconetDomainSoap" binding="tns:truconetDomainSoap">
      <soap:address location="http://localhost:50435/truconetDomain.asmx" />
    </wsdl:port>
    <wsdl:port name="truconetDomainSoap12" binding="tns:truconetDomainSoap12">
      <soap12:address location="http://localhost:50435/truconetDomain.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>