trunk/truconet/truconetWeb/Web References/truconetFachadaProxy/truconetFachada.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://truconet/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://truconet/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://truconet/">
      <s:element name="obtenerJugadores">
        <s:complexType />
      </s:element>
      <s:element name="obtenerJugadoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerJugadoresResult" type="tns:ArrayOfJugador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfJugador">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Jugador" nillable="true" type="tns:Jugador" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Jugador">
        <s:complexContent mixed="false">
          <s:extension base="tns:Usuario">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Mano" type="tns:cartasMano" />
              <s:element minOccurs="1" maxOccurs="1" name="EsMano" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="cartasMano">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Puntos" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Jugada" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Cartas" type="tns:ArrayOfCarta" />
          <s:element minOccurs="1" maxOccurs="1" name="IdPartido" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCarta">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Carta" nillable="true" type="tns:Carta" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Carta">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Cod" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Puntaje" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Palo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Categoria" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Jugador" type="tns:Jugador" />
        </s:sequence>
      </s:complexType>
      <s:element name="crearPartido">
        <s:complexType />
      </s:element>
      <s:element name="crearPartidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="crearPartidoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getjugadorPartido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idPartido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getjugadorPartidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getjugadorPartidoResult" type="tns:ArrayOfJugador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPartido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idPartido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPartidoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPartidoResult" type="tns:Partido" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Partido">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Ganadores" type="tns:ArrayOfJugador" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaFin" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaInicio" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Participantes" type="tns:ArrayOfJugador" />
          <s:element minOccurs="1" maxOccurs="1" name="Identificador" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Muestra" type="tns:Carta" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getPartidosPendientes">
        <s:complexType />
      </s:element>
      <s:element name="getPartidosPendientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPartidosPendientesResult" type="tns:ArrayOfPartido" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPartido">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Partido" nillable="true" type="tns:Partido" />
        </s:sequence>
      </s:complexType>
      <s:element name="borrarParticipante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idJugador" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idPartido" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="borrarParticipanteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="borrarParticipanteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="obtenerJugadoresSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerJugadores" />
  </wsdl:message>
  <wsdl:message name="obtenerJugadoresSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerJugadoresResponse" />
  </wsdl:message>
  <wsdl:message name="crearPartidoSoapIn">
    <wsdl:part name="parameters" element="tns:crearPartido" />
  </wsdl:message>
  <wsdl:message name="crearPartidoSoapOut">
    <wsdl:part name="parameters" element="tns:crearPartidoResponse" />
  </wsdl:message>
  <wsdl:message name="getjugadorPartidoSoapIn">
    <wsdl:part name="parameters" element="tns:getjugadorPartido" />
  </wsdl:message>
  <wsdl:message name="getjugadorPartidoSoapOut">
    <wsdl:part name="parameters" element="tns:getjugadorPartidoResponse" />
  </wsdl:message>
  <wsdl:message name="getPartidoSoapIn">
    <wsdl:part name="parameters" element="tns:getPartido" />
  </wsdl:message>
  <wsdl:message name="getPartidoSoapOut">
    <wsdl:part name="parameters" element="tns:getPartidoResponse" />
  </wsdl:message>
  <wsdl:message name="getPartidosPendientesSoapIn">
    <wsdl:part name="parameters" element="tns:getPartidosPendientes" />
  </wsdl:message>
  <wsdl:message name="getPartidosPendientesSoapOut">
    <wsdl:part name="parameters" element="tns:getPartidosPendientesResponse" />
  </wsdl:message>
  <wsdl:message name="borrarParticipanteSoapIn">
    <wsdl:part name="parameters" element="tns:borrarParticipante" />
  </wsdl:message>
  <wsdl:message name="borrarParticipanteSoapOut">
    <wsdl:part name="parameters" element="tns:borrarParticipanteResponse" />
  </wsdl:message>
  <wsdl:portType name="truconetFachadaSoap">
    <wsdl:operation name="obtenerJugadores">
      <wsdl:input message="tns:obtenerJugadoresSoapIn" />
      <wsdl:output message="tns:obtenerJugadoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="crearPartido">
      <wsdl:input message="tns:crearPartidoSoapIn" />
      <wsdl:output message="tns:crearPartidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getjugadorPartido">
      <wsdl:input message="tns:getjugadorPartidoSoapIn" />
      <wsdl:output message="tns:getjugadorPartidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPartido">
      <wsdl:input message="tns:getPartidoSoapIn" />
      <wsdl:output message="tns:getPartidoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPartidosPendientes">
      <wsdl:input message="tns:getPartidosPendientesSoapIn" />
      <wsdl:output message="tns:getPartidosPendientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="borrarParticipante">
      <wsdl:input message="tns:borrarParticipanteSoapIn" />
      <wsdl:output message="tns:borrarParticipanteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="truconetFachadaSoap" type="tns:truconetFachadaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerJugadores">
      <soap:operation soapAction="http://truconet/obtenerJugadores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearPartido">
      <soap:operation soapAction="http://truconet/crearPartido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getjugadorPartido">
      <soap:operation soapAction="http://truconet/getjugadorPartido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPartido">
      <soap:operation soapAction="http://truconet/getPartido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPartidosPendientes">
      <soap:operation soapAction="http://truconet/getPartidosPendientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="borrarParticipante">
      <soap:operation soapAction="http://truconet/borrarParticipante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="truconetFachadaSoap12" type="tns:truconetFachadaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerJugadores">
      <soap12:operation soapAction="http://truconet/obtenerJugadores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearPartido">
      <soap12:operation soapAction="http://truconet/crearPartido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getjugadorPartido">
      <soap12:operation soapAction="http://truconet/getjugadorPartido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPartido">
      <soap12:operation soapAction="http://truconet/getPartido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPartidosPendientes">
      <soap12:operation soapAction="http://truconet/getPartidosPendientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="borrarParticipante">
      <soap12:operation soapAction="http://truconet/borrarParticipante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="truconetFachada">
    <wsdl:port name="truconetFachadaSoap" binding="tns:truconetFachadaSoap">
      <soap:address location="http://localhost:51052/truconetFachada.asmx" />
    </wsdl:port>
    <wsdl:port name="truconetFachadaSoap12" binding="tns:truconetFachadaSoap12">
      <soap12:address location="http://localhost:51052/truconetFachada.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>